.i-eye {
  background-image: url(./imgs/icon-eye.png);
}
.i-notice {
  background-image: url(./imgs/icon-notice.png);
}
.i-msg {
  background-image: url(./imgs/icon-msg.png);
}
.i-notice-circle {
  background-image: url(./imgs/icon-notice-circle.png);
}
.i-document-circle {
  background-image: url(./imgs/icon-document-circle.png);
}
.i-shop-car {
  background-image: url(./imgs/icon-shop-car.png);
}
.i-donate {
  background-image: url(./imgs/icon-donate.png);
}
.i-more {
  background-image: url(./imgs/icon-more.png);
}
.i-close {
  background-image: url(./imgs/icon-close.png);
}
.i-close-gray {
  background-image: url(./imgs/icon-close-gray.png);
}
.i-shopping {
  background-image: url(./imgs/icon-shopping.png);
}
.i-audio {
  background-image: url(./imgs/icon-audio.png);
}
.i-video {
  background-image: url(./imgs/icon-video.png);
}
.i-definition {
  background-image: url(./imgs/icon-definition.png);
}
.i-like {
  background-image: url(./imgs/icon-like.png);
}